# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage/
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Scripts
src/scripts/**/*.json
src/scripts/**/*.csv

envs/secrets/local/db-secret-arn-dev.json
envs/secrets/local/db-secret-arn-production.json
envs/secrets/local/db-secret-arn-staging.json