Hello,<br><br>

Your requested report, "{{reportName}}", is ready.<br><br>

You can download it using the following link: <a href="{{reportUrl}}">Download Report</a><br><br>

Thanks,<br>
The Bobtail Team
